<%= form_for(@godzilla) do |f| %>
  <% if @godzilla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@godzilla.errors.count, "error") %> prohibited this godzilla from being saved:</h2>

      <ul>
      <% @godzilla.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="godzilla_teeth">Teeth
      <%= f.number_field :teeth %>
    </label>
  </div>
  <div class="field">
    <label for="godzilla_breath_temperature">Breath Temperature in F
      <%= f.text_field :breath_temperature %>
    </label>
  </div>
  <div class="field">
    <label for="godzilla_eyes">Eyes
      <%= f.text_field :eyes %>
    </label>
  </div>
  <div class="field">
    <label for="godzilla_life_story">Life Story
      <%= f.text_area :life_story %>
    </label>
  </div>
  <div class="field">
    <label for="godzilla_arch_rival">Arch Rival
      <%= f.text_field :arch_rival %>
    </label>
  </div>
  <div class="actions">
    <%= f.submit "submit", class: "button success" %>
  </div>
<% end %>

