<div class="panel radius">
  <h1 data-tooltip class="has-tip" title="Who know there was more than one?">Listing godzillas</h1>
</div>

<table>
  <tr>
    <th>Teeth</th>
    <th>Breath temperature</th>
    <th>Eyes</th>
    <th>Life story</th>
    <th>Arch rival</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @godzillas.each do |godzilla| %>
  <tr>
    <td class="text-center"><p class='label success'><%= godzilla.teeth %></p></td>
    <td class="text-center"><p class='label success'><%= godzilla.breath_temperature %></p></td>
    <td class="text-center"><p class='label success'><%= godzilla.eyes %></p></td>
    <td class='text-center'><div class="panel"><%= godzilla.life_story %> </div></td>
    <td class='text-center'><p class='label success'><%= godzilla.arch_rival %></p></td>
    <td class='text-center'><%= link_to 'Show', godzilla, class:"button round primary" %></td>
    <td class='text-center'><%= link_to 'Edit', edit_godzilla_path(godzilla), class:"button round secondary" %></td>
    <td class='text-center'><%= link_to 'Destroy', godzilla, method: :delete, data: { confirm: 'Are you sure?' }, class: "button round alert" %></td>
  </tr>
<% end %>
</table>
<ul class="pagination">
  <li class="arrow unavailable"><a href="">&laquo;</a></li>
  <li class="current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable"><a href="">&hellip;</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li class="arrow"><a href="">&raquo;</a></li>
</ul>
<br />

<%= link_to 'New Godzilla', new_godzilla_path , class: "button success "%>
