<h1>Listing godzillas</h1>

<table>
  <tr>
    <th>Teeth</th>
    <th>Breath temperature</th>
    <th>Eyes</th>
    <th>Life story</th>
    <th>Arch rival</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @godzillas.each do |godzilla| %>
  <tr>
    <td class="text-center"><p class='label success'><%= godzilla.teeth %></p></td>
    <td class="text-center"><p class='label success'><%= godzilla.breath_temperature %></p></td>
    <td class="text-center"><p class='label success'><%= godzilla.eyes %></p></td>
    <td class='text-center'><div class="panel"><%= godzilla.life_story %> </div></td>
    <td class='text-center'><p class='label success'><%= godzilla.arch_rival %></p></td>
    <td class='text-center'><%= link_to 'Show', godzilla, class:"button round primary" %></td>
    <td class='text-center'><%= link_to 'Edit', edit_godzilla_path(godzilla), class:"button round secondary" %></td>
    <td class='text-center'><%= link_to 'Destroy', godzilla, method: :delete, data: { confirm: 'Are you sure?' }, class: "button round alert" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Godzilla', new_godzilla_path , class: "button round"%>
