<p id="notice"><%= notice %></p>

<p>
  <b class="label">Teeth:</b>
  <%= @godzilla.teeth %>
</p>

<p>
  <b class="label success">Breath temperature:</b>
  <%= @godzilla.breath_temperature %>
</p>

<p>
  <b class="label alert">Eyes:</b>
  <%= @godzilla.eyes %>
</p>

<p>
  <b class="label">Life story:</b>
  <div class="panel">
    <%= @godzilla.life_story %>
  </div>
</p>

<p>
  <b class="label success">Arch rival:</b>
  <%= @godzilla.arch_rival %>
</p>


<%= link_to 'Edit', edit_godzilla_path(@godzilla) %> |
<%= link_to 'Back', godzillas_path %>
